.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: firebrick;
}
.App h1 {
  color: white;
}

header {
  flex: 20%;
  background: chocolate;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .inputs-container {
  display: flex;
  flex-direction: column;
}

header input {
  width: 200px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid slateblue;
}

header input:first-of-type {
  margin-bottom: 4px;
}

header button {
  width: 74px;
  height: 92px;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  background: white;
  border: 1px solid slateblue;
}

.todoList {
  flex: 80%;
  width: 100%;
}
